<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <style media="screen">
      a {
        text-decoration:none;
        float:left;
        display:block;
        border:1px solid black;
        padding:20px;
        margin:5px;
        list-style-type:none;
      }
      a:hover{
        color:white;
        background-color:black;
      }
    </style>
  </head>
  <body>
    <ul>
      <a href="{{url_for('index')}}"><li>Home</li></a>
      <a href="{{url_for('cont')}}"><li>Contact</li></a>
      <a href="{{url_for('about')}}"><li>about</li></a>
      <a href="{{url_for('blog')}}"><li>blog</li></a>

    </ul>

    {% block body %}
    {% endblock %}
  </body>
</html>
